<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url(' + pictureOwner + ')'"></div>
    <mat-card-title>{{ owner }}</mat-card-title>
    <mat-card-subtitle>{{ datePublic }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ urlImge }}" alt="Photo">
  <div class="favorites-container">
    <mat-icon color="warn">favorite</mat-icon> 
    <div class="favorite-total">
      {{ likes | number}} Me gusta
    </div>
  </div>
  <mat-card-content>
    <p>
     {{ text }}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions-container">
    <mat-icon  (click)="changeFillColor()" class="pointer" [ngClass]="{'fill-color': fillColor}">
      {{ favoriteType }}
    </mat-icon>
    <mat-icon class="pointer"> comment</mat-icon>
    <mat-icon class="pointer">share</mat-icon>
  </mat-card-actions>
</mat-card>